@{
    ViewBag.Title = "Manage";
    ViewBag.BCHeader = "Manage Account";
    ViewBag.BCAction = "Index";
    ViewBag.BCController = "Home";
    ViewBag.BCActionText = "Home";

    ViewBag.ProfileLinkClass = "active-link";
}
<!-- Confirm Email Modal -->
<div class="modal fade" id="confirmEmailModal" tabindex="-1" role="dialog" aria-labelledby="confirmEmailModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmEmailModalLabel">Confirm Email</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalContext">
                We will send you an email to confirm your email.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnSendConfirmEmail">Send Now</button>
            </div>
        </div>
    </div>
</div>



@Html.Partial("_Breadcrumb")

<section class="blog-details spad">
    <div class="container">
        <div class="row">
            @Html.Partial("_LeftPanel")
            <div class="col-lg-8 order-lg-2 order-1">
                <div class="border text-center" style="padding: 10px;">
                    <h3><i class="fas fa-shield-alt"></i>   Security</h3>
                    <p><strong>Username:</strong> @ViewBag.user.UserName [<a class="link-edit" href="@Url.Action("ChangeUsername", "Manage")"> Change </a>]</p>
                    <p>
                        <strong>Password:</strong> @(ViewBag.user.PasswordHash == null ? "Don't have password" : "******") [
                        @if (ViewBag.user.PasswordHash != null)
                        {
                            <a class="link-edit" href="@Url.Action("ChangePassword", "Manage")"> Change Password </a>
                        }
                        else
                        {
                            <a class="link-edit" href="@Url.Action("SetPassword", "Manage")"> Setup </a>
                        }
                        ]
                    </p>
                    <p>
                        <strong>Email:</strong> @ViewBag.user.gererateEmailMask()
                        @if (ViewBag.user.EmailConfirmed)
                        {
                            <i style="color:green" title="Email has been confirm" class="fas fa-check-circle"></i>@Html.Raw("   [")<a class="link-edit" href="#"> Change Email </a>@Html.Raw("]")
                        }
                        else
                        {
                            <i style="color:red" title="Email not confirm" class="far fa-times-circle"></i>@Html.Raw("   [")<a class="link-edit" href="#" data-toggle="modal" data-target="#confirmEmailModal"> Confirm Email </a> @Html.Raw("]")
                        }
                    </p>
                </div>

                <div class="border text-center mt-3" style="padding: 10px;">
                    <h3 style="margin: 10px;"><i class="fas fa-user-edit"></i>   Personal Information</h3>
                    <p><strong>Display Name:</strong> @ViewBag.user.DisplayName</p>
                    <p><strong>Phone Number:</strong> @ViewBag.user.PhoneNumber</p>
                    <div class="text-center">
                        <button class="btn btn-primary"><i class="fas fa-edit"></i>   Edit</button>
                    </div>

                </div>


            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/User/Manage/ConfirmEmail.js" type="text/javascript"></script>
}

