@model ActivityWebsite.Models.SetPasswordViewModel
@{
    ViewBag.Title = "Set Password";
    ViewBag.BCHeader = "Set Password";
    ViewBag.BCAction = "Index";
    ViewBag.BCController = "Manage";
    ViewBag.BCActionText = "Manage";

    ViewBag.ProfileLinkClass = "active-link";
}

@Html.Partial("_Breadcrumb")
<section class="blog-details spad">
    <div class="container">
        <div class="row">
            @Html.Partial("_LeftPanel")
            <div class="col-lg-8 order-lg-2 order-1">
                @using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    if (ViewBag.successMessage != null)
                    {
                        <div class="alert alert-success" role="alert">
                            @ViewBag.successMessage
                        </div>
                    }

                    <hr />

                    <p class="text-info">
                        You do not have a password for this site. Add a password to your
                        account so you can log in without an external login.
                    </p>
                    <div style="padding: 10px">

                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "ip-focus" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "ip-focus" })
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-warning"> Set up</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/plugin/jqueryval")
}
