@model ActivityWebsite.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    ViewBag.BCHeader = "Forgot Password";
    ViewBag.BCAction = "Index";
    ViewBag.BCController = "Home";
    ViewBag.BCActionText = "Home";
}


@Html.Partial("_Breadcrumb")


@section css{
    <link rel="stylesheet" href="~/Content/css/User/Account/ForgotPassword.css" type="text/css">
}

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-forgotpassword", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    @*Send confirm message if success*@
    if (ViewBag.confirmMessage != null)
    {
        <div class="alert alert-info" role="alert">
            @ViewBag.confirmMessage
        </div>
    }

    <div class="subscribe-form">
        @Html.TextBoxFor(m => m.Email, new { @class = "subscribe-form-input", @placeholder = "Enter your email" })
        <button type="submit" class="subscribe-form-button">Send Email</button>
    </div>
}


@section Scripts {
    @Scripts.Render("~/plugin/jqueryval")
}
