@model ActivityWebsite.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    ViewBag.BCHeader = "Reset Password";
    ViewBag.BCAction = "ForgotPassword";
    ViewBag.BCController = "Account";
    ViewBag.BCActionText = "Forgot Password";
}
@section css{
    <link rel="stylesheet" href="~/Content/css/User/Account/ResetPassword.css" type="text/css">
}

@Html.Partial("_Breadcrumb")

@if (ViewBag.errorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.errorMessage
    </div>
}
else
{
    using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "login-form", autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Code)
        @Html.HiddenFor(model => model.userId)

        if (ViewBag.confirmMessage != null)
        {
            <div class="alert alert-success" role="alert">
                @ViewBag.confirmMessage
            </div>
        }

        @Html.PasswordFor(m => m.Password, new { placeholder = "Enter New Password" })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm New Password" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
        <button>Reset</button>
    }
}


@section Scripts {
    @Scripts.Render("~/plugin/jqueryval")
}
