@model ActivityWebsite.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}
@section introdution{
    <!-- Breadcrumb Begin -->
    <section class="breadcrumb-option set-bg" data-setbg="/Content/Media/Images/templates/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h2>Reset Password</h2>
                        <div class="breadcrumb__widget">
                            <a href="@Url.Action("ForgotPassword", "Home")">Forgot Password</a>
                            <span>Reset Password</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb End -->
}

@section css{
    <link rel="stylesheet" href="~/Content/css/User/Account/ResetPassword.css" type="text/css">
}

@if (ViewBag.errorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.errorMessage
    </div>
}
else
{
    using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "login-form", autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Code)
        @Html.HiddenFor(model => model.userId)

        if (ViewBag.confirmMessage != null)
        {
            <div class="alert alert-success" role="alert">
                @ViewBag.confirmMessage
            </div>
        }

        @Html.PasswordFor(m => m.Password, new { placeholder = "Enter New Password" })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm New Password" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
        <button>Reset</button>
    }
}


@section Scripts {
    @Scripts.Render("~/plugin/jqueryval")
}
